*,
::before,
::after {
  box-sizing: border-box;
}

:root {
  --color-background: #f4f5f5;
  --color-primary: #02cdbd;
}

body {
  background-color: var(--color-background);
  font-family: system-ui, sans-serif;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

h3 {
  font-size: 1.2rem;
}

p {
  color: grey;
  line-height: 1.2em;
}

/* -- LAYOUT -- */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

.columns {
  display: flex;
  gap: 30px;
}

.left-column {
  flex: 1;
}

.right-column {
  width: 350px;
}

/* -- HEADER -- */
header {
  background-color: white;
}

header .top-bar {
  height: 60px;
  border-bottom: 1px solid lightgrey;
}

header .top-bar .container {
  height: 100%;
  display: flex;
  align-items: center;
}

header .top-bar img {
  height: 40px;
}

header .restaurant-infos {
  height: 255px;
  padding: 30px 0;
}

header .restaurant-infos .left-column {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

header .restaurant-infos p {
  font-size: 1.3rem;
  line-height: 2rem;
}

header .restaurant-infos img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

/* -- MAIN -- */
main {
  padding: 25px 0;
  align-items: flex-start;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.menu h2 {
  margin-bottom: 0.8em;
}

/* -- MEALS -- */
.meals {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.meal {
  width: calc((100% - 20px) / 2);
  height: 160px;
  background-color: white;
  border-radius: 5px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  gap: 15px;
  align-items: flex-start;
}

.meal-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.meal :is(p, span) {
  color: grey;
}

.meal p {
  max-height: 35px;
  max-height: 2lh;
  overflow: hidden;
}

.meal-text :last-child {
  margin-top: 15px;
}
.meal .price {
  font-size: 1.1rem;
  margin-right: 15px;
}

.meal .badge {
  font-weight: bold;
  color: orangered;
}

.meal img {
  width: 130px;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 10px;
}

/* BASKET */
.basket-empty {
  text-align: center;
  margin: 20px 0;
}

.price {
  text-align: right;
}

.basket {
  background-color: white;
  border-radius: 6px;
  padding: 15px;
}

.basket > button {
  width: 100%;
  text-align: center;
  border: none;
  border-radius: 6px;
  padding: 1em 0;
  background-color: var(--color-primary);
  color: white;
  font-weight: bold;
  margin-bottom: 1rem;
}

.basket > button:disabled {
  background-color: lightgrey;
}

.basket .basket-line {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.basket > .basket-line:last-child {
  font-weight: bold;
}

.basket-item .controls {
  display: flex;
  gap: 5px;
  margin-right: 10px;
}

.basket-item .controls button {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
  border-radius: 50%;
}

.basket-item .controls span {
  color: grey;
}

.basket-item-title {
  flex: 2;
}
